<%= form_with(model: [:backstage, @dining_venue], local: true) do |form| %>
  <% if dining_venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dining_venue.errors.count, "error") %> prohibited this dining_venue from being saved:</h2>

      <ul>
      <% dining_venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :short_name, class: 'form-label' %>
      <%= form.text_field :short_name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :permalink, class: 'form-label' %>
      <%= form.text_field :permalink, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :venue_permalink, class: 'form-label' %>
      <%= form.text_field :venue_permalink, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if dining_venue.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', backstage_dining_venue_path, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if dining_venue.persisted? %>
      <%= link_to "Cancel", backstage_dining_venue_path(dining_venue), class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", backstage_dining_venue_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
